// Alert colors
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$grey: #414448;

// Project colors
$body-color-dark: #12171e;
$body-color-light: #161d25;
$metal-gray: #6d7880;
$turquoise: #2adbce;
$form-lining: #414448;
$light-jungle-green: #0a8287;
$medium-jungle-green: #2a3540;
$dark-jungle-green: #19222c;
$outer-space: #3e4e5b;

// Project margins
$content-margin: 62px;
$content-margin-double: calc(#{$content-margin} * 2);
$content-margin-half: calc(#{$content-margin} / 2);
