.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: $body-color-light;
    .sidebar-sticky {
        position: relative;
        top: 0;
        height: 100vh;
        padding-top: .5rem;
        padding-bottom: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        .sidebar-contents {
            height: 100%;
        }
    }
    .navbar-header {
        padding: 0 32px;
        & > .navbar-brand {
            color: $white;
            margin-bottom: 116px;
            &:hover, &:focus, &:visited {
                color: $white;
                text-decoration: none;
            }
        }
    }
    .nav-item {
      padding: 0 16px;
      & > .nav-link {
        font-weight: 500;
        color: $metal-gray;
        & > .icon {
          width: 20px;
          display: inline-block;
          vertical-align: text-bottom;
          margin-right: 12px;
        }
        &.active {
          color: $white;
          & > .icon:not(.icon-hover) {
            display: none;
          }
        }
        &:not(.active) {
          &:hover {
            color: rgba($white, .9);
            & > .icon {
              &.icon-hover {
                display: inline-block;
              }
              &:not(.icon-hover) {
                display: none;
              }
            }
          }
          & > .icon.icon-hover {
            display: none;
          }
        }
      }
    }
    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }
    .sidebar-user {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      border-top: 1px solid rgba($metal-gray, 0.3);
      height: 100px;
      padding: 20px 2em;
      & > div:nth-child(1) {
        margin-right: 12px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 30px;
        }
      }
    }
    @supports ((position: -webkit-sticky) or (position: sticky)) {
      .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
      }
    }
  }